.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.groups-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.groups-container ul li {
  background-color: #fff;
  margin: 5px;
  padding: 10px;
  list-style: none;
}
